	<div class="alert alert-success" ng-show="successfuledit">
		Book edited.
	</div>
    <form name="dataform" class="form-horizontal" ng-app novalidate>

    <div class="control-group">
		<label class="control-label">Genre</label>
		<div class="controls">
			<input required name="genre" type="text" type="book.type" ng-model="editablegenre" placeholder={{editablegenre}} value={{editablegenre}} class="input-xlarge" id="genre" rel="popover">
		</div>
		    <span class="error" ng-show="dataform.genre.$error.required">Required!</span><br>
	</div>


	<div class="control-group">
		<label class="control-label">Title</label>
		<div class="controls">
			<input required name="title" type="text" ng-model="editabletitle" placeholder={{editabletitle}} value={{editabletitle}} class="input-xlarge" id="title" rel="popover">
		</div>
		    <span class="error" ng-show="dataform.title.$error.required">Required!</span><br>
	</div>


	<div class="control-group">
		<label class="control-label">Author</label>
		<div class="controls">
			<input required name="author" type="text" ng-model="editableauthor"  value={{editableauthor}} placeholder={{editableauthor}} class="input-xlarge" id="author" rel="popover">
		</div>
		    <span class="error" ng-show="dataform.author.$error.required">Required!</span><br>
	</div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
 				<button ng-disabled="dataform.$invalid" type="submit" ng-click="saveData(dataform.$valid)" class="btn btn-success">submit</button>
            </div>
        </div>
    </form>

